.idea/
*.iml/
Docs/
.settings
.project
target
*.classpath
*.class
Docs
HTML
GSS3.0-CORE/gss3.0-core/gss-provider-parent/gss-provider-boot/pom.xml
*.project
*.keystore
*.iml
/GSS3.0-CORE/gss3.0-core/pom.xml
/GSS3.0-CORE/gss3.0-core/gss-op-web-parent/pom.xml
/GSS3.0-CORE/gss3.0-core/gss-op-web-parent/gss-op-web-boot/pom.xml
