<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tempus.gss.product.ift.dao.CabinDao">
    <resultMap id="BaseResultMap" type="com.tempus.gss.product.ift.api.entity.Cabin">
        <!--政策舱位编号-->
        <id column="POLICY_CABIN_NO" property="policyCabinNo" jdbcType="BIGINT"/>
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <!--政策编号-->
        <result column="POLICY_NO" property="policyNo" jdbcType="BIGINT"/>
        <!--舱位 舱位，多个舱位用/分隔-->
        <result column="CABIN" property="cabin" jdbcType="VARCHAR"/>
        <!--销售返点-->
        <result column="SALE_REBATE" property="saleRebate" jdbcType="DECIMAL"/>
        <!--销售单程手续费-->
        <result column="SALE_OW_BROKERAGE" property="saleOwBrokerage" jdbcType="DECIMAL"/>
        <!--销售往返手续费-->
        <result column="SALE_RT_BROKERAGE" property="saleRtBrokerage" jdbcType="DECIMAL"/>
        <!--采购返点-->
        <result column="BUY_REBATE" property="buyRebate" jdbcType="DECIMAL"/>
        <!--采购单程手续费-->
        <result column="BUY_OW_BROKERAGE" property="buyOwBrokerage" jdbcType="DECIMAL"/>
        <!--采购往返手续费-->
        <result column="BUY_RT_BROKERAGE" property="buyRtBrokerage" jdbcType="DECIMAL"/>
        <!--排除仓位-->
        <result column="EXCLUSIVE_CABIN" property="exclusiveCabin" jdbcType="VARCHAR"/>
        <!--一对多关联舱位信息-->
        <collection property="profitControlList" ofType="com.tempus.gss.product.ift.api.entity.ProfitControl"
                    column="POLICY_CABIN_NO"
                    select="com.tempus.gss.product.ift.dao.ProfitControlDao.selectByPolicyCabinNo"/>
    </resultMap>
    <sql id="Base_Column_List">
        POLICY_CABIN_NO, ID, POLICY_NO, CABIN, SALE_REBATE, SALE_OW_BROKERAGE, SALE_RT_BROKERAGE,
        BUY_REBATE, BUY_OW_BROKERAGE, BUY_RT_BROKERAGE,EXCLUSIVE_CABIN
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from IFT_CABIN
        where POLICY_CABIN_NO = #{policyCabinNo,jdbcType=BIGINT}
    </select>
    <select id="selectByPolicyNo" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from IFT_CABIN
        where POLICY_NO = #{policyNo,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from IFT_CABIN
        where POLICY_CABIN_NO = #{policyCabinNo,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByPolicyNo" parameterType="java.lang.Long">
        delete from IFT_CABIN
        where POLICY_NO = #{policyNo,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.tempus.gss.product.ift.api.entity.Cabin">
        insert into IFT_CABIN (POLICY_CABIN_NO, ID, POLICY_NO,
        CABIN, SALE_REBATE, SALE_OW_BROKERAGE,
        SALE_RT_BROKERAGE, BUY_REBATE, BUY_OW_BROKERAGE,
        BUY_RT_BROKERAGE,EXCLUSIVE_CABIN)
        values (#{policyCabinNo,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{policyNo,jdbcType=BIGINT},
        #{cabin,jdbcType=VARCHAR}, #{saleRebate,jdbcType=DECIMAL}, #{saleOwBrokerage,jdbcType=DECIMAL},
        #{saleRtBrokerage,jdbcType=DECIMAL}, #{buyRebate,jdbcType=DECIMAL}, #{buyOwBrokerage,jdbcType=DECIMAL},
        #{buyRtBrokerage,jdbcType=DECIMAL},#{exclusiveCabin})
    </insert>
    <insert id="insertSelective" parameterType="com.tempus.gss.product.ift.api.entity.Cabin">
        insert into IFT_CABIN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="policyCabinNo != null">
                POLICY_CABIN_NO,
            </if>
            <if test="id != null">
                ID,
            </if>
            <if test="policyNo != null">
                POLICY_NO,
            </if>
            <if test="cabin != null">
                CABIN,
            </if>
            <if test="saleRebate != null">
                SALE_REBATE,
            </if>
            <if test="saleOwBrokerage != null">
                SALE_OW_BROKERAGE,
            </if>
            <if test="saleRtBrokerage != null">
                SALE_RT_BROKERAGE,
            </if>
            <if test="buyRebate != null">
                BUY_REBATE,
            </if>
            <if test="buyOwBrokerage != null">
                BUY_OW_BROKERAGE,
            </if>
            <if test="buyRtBrokerage != null">
                BUY_RT_BROKERAGE,
            </if>
            <if test="exclusiveCabin != null">
                EXCLUSIVE_CABIN,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="policyCabinNo != null">
                #{policyCabinNo,jdbcType=BIGINT},
            </if>
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="policyNo != null">
                #{policyNo,jdbcType=BIGINT},
            </if>
            <if test="cabin != null">
                #{cabin,jdbcType=VARCHAR},
            </if>
            <if test="saleRebate != null">
                #{saleRebate,jdbcType=DECIMAL},
            </if>
            <if test="saleOwBrokerage != null">
                #{saleOwBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="saleRtBrokerage != null">
                #{saleRtBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="buyRebate != null">
                #{buyRebate,jdbcType=DECIMAL},
            </if>
            <if test="buyOwBrokerage != null">
                #{buyOwBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="buyRtBrokerage != null">
                #{buyRtBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="exclusiveCabin !=null">
                #{exclusiveCabin,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tempus.gss.product.ift.api.entity.Cabin">
        update IFT_CABIN
        <set>
            <if test="id != null">
                ID = #{id,jdbcType=BIGINT},
            </if>
            <if test="policyNo != null">
                POLICY_NO = #{policyNo,jdbcType=BIGINT},
            </if>
            <if test="cabin != null">
                CABIN = #{cabin,jdbcType=VARCHAR},
            </if>
            <if test="saleRebate != null">
                SALE_REBATE = #{saleRebate,jdbcType=DECIMAL},
            </if>
            <if test="saleOwBrokerage != null">
                SALE_OW_BROKERAGE = #{saleOwBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="saleRtBrokerage != null">
                SALE_RT_BROKERAGE = #{saleRtBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="buyRebate != null">
                BUY_REBATE = #{buyRebate,jdbcType=DECIMAL},
            </if>
            <if test="buyOwBrokerage != null">
                BUY_OW_BROKERAGE = #{buyOwBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="buyRtBrokerage != null">
                BUY_RT_BROKERAGE = #{buyRtBrokerage,jdbcType=DECIMAL},
            </if>
            <if test="exclusiveCabin != null">
                EXCLUSIVE_CABIN = #{exclusiveCabin,jdbcType=DECIMAL},
            </if>
        </set>
        where POLICY_CABIN_NO = #{policyCabinNo,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tempus.gss.product.ift.api.entity.Cabin">
        update IFT_CABIN
        set ID = #{id,jdbcType=BIGINT},
        POLICY_NO = #{policyNo,jdbcType=BIGINT},
        CABIN = #{cabin,jdbcType=VARCHAR},
        SALE_REBATE = #{saleRebate,jdbcType=DECIMAL},
        SALE_OW_BROKERAGE = #{saleOwBrokerage,jdbcType=DECIMAL},
        SALE_RT_BROKERAGE = #{saleRtBrokerage,jdbcType=DECIMAL},
        BUY_REBATE = #{buyRebate,jdbcType=DECIMAL},
        BUY_OW_BROKERAGE = #{buyOwBrokerage,jdbcType=DECIMAL},
        BUY_RT_BROKERAGE = #{buyRtBrokerage,jdbcType=DECIMAL}
        where POLICY_CABIN_NO = #{policyCabinNo,jdbcType=BIGINT}
    </update>

</mapper>