<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempus.gss.product.ift.dao.GZRefundReportDao">
    <resultMap id="IftReportResultMap" type="com.tempus.gss.product.ift.api.entity.GZRefundTicket">
        <result column="SUPPLIER" property="supplier" />
        <result column="REFUND_DATE" property="refundDate" />
        <result column="TICKET_NO" property="ticketNo" />
        <result column="PNR" property="pnr" />
        <result column="ROUTING" property="routing" />
        <result column="FLIGHT_NO" property="flightNo" />
        <result column="CABIN" property="cabin" />
        <result column="DEPART_DATE" property="departDate" />
        <result column="PASSENGER_TYPE" property="passengerType" />
        <result column="SETTLE_PRICE" property="settlePrice" />
        <result column="TAX" property="tax" />
        <result column="TICKET_NUM" property="ticketNum" />
        <result column="CUSTOMER" property="customer" />
    </resultMap>
    <select id="queryGZRefundReport" resultMap="IftReportResultMap">
        SELECT CS.NAME AS SUPPLIER,ISCE.MODIFY_TIME AS REFUND_DATE,ISOD.TICKET_NO AS TICKET_NO,IPR.PNR AS PNR,CONCAT(IL.DEP_AIRPORT,'-',IL.ARR_AIRPORT) AS ROUTING,
        IL.FLIGHT_NO AS FLIGHT_NO,ISOD.CABIN AS CABIN,IL.DEP_TIME AS DEPART_DATE,IPRP.PASSENGER_TYPE AS PASSENGER_TYPE,IPRP.BUY_PRICE AS SETTLE_PRICE,IPRP.BUY_TAX AS
        TAX,1 AS TICKET_NUM,CC.NAME AS CUSTOMER
        FROM IFT_SALE_CHANGE_EXT ISCE
        LEFT JOIN IFT_SALE_CHANGE_DETAIL ISCD ON ISCD.SALE_CHANGE_NO=ISCE.SALE_CHANGE_NO
        LEFT JOIN IFT_SALE_ORDER_DETAIL ISOD ON ISOD.SALE_ORDER_DETAIL_NO=ISCD.SALE_ORDER_DETAIL_NO
        LEFT JOIN IFT_SALE_ORDER_EXT ISOE ON ISOE.SALE_ORDER_NO=ISOD.SALE_ORDER_NO
        LEFT JOIN IFT_LEG IL ON IL.LEG_NO=ISOD.LEG_NO
        LEFT JOIN IFT_PNR IPR ON IPR.PNR_NO=ISOE.PNR_NO
        LEFT JOIN OS_SALECHANGE_EXTEND OSE ON OSE.SALE_CHANGE_NO=ISCE.SALE_CHANGE_NO
        LEFT JOIN CPS_CUSTOMER CC ON CC.CUSTOMER_NO=OSE.CUSTOMER_NO
        LEFT JOIN IFT_PASSENGER_REFUND_PRICE IPRP ON IPRP.PASSENGER_NO=ISOD.PASSENGER_NO
        LEFT JOIN IFT_BUY_ORDER_DETAIL IBOD ON IBOD.SALE_ORDER_DETAIL_NO=ISOD.SALE_ORDER_DETAIL_NO
        LEFT JOIN OS_BUYORDER OB ON OB.BUY_ORDER_NO=IBOD.BUY_ORDER_NO
        LEFT JOIN CPS_SUPPLIER CS ON CS.SUPPLIER_NO=OB.SUPPLIER_NO
        WHERE 1=1
        <include refid="selectSumByDateAndDept"/>






    </select>



    <sql id="selectSumByDateAndDept">
        <if test="air !=null and air!=''">
            AND IL.AIRLINE ="${air}"
        </if>
        <if test="ticketNo !=null and ticketNo!=''">
            AND ISOD.TICKET_NO LIKE CONCAT('%',#{ticketNo})
        </if>
        <if test="pnr !=null and pnr!=''">
            AND IPR.PNR ="${pnr}"
        </if>
        <if test="cabin !=null and cabin!=''">
            AND ISOD.CABIN ="${cabin}"
        </if>
        <if test="beginTicketDate !=null and beginTicketDate != '' ">
            AND ISOE.ISSUE_TIME<![CDATA[>=]]>STR_TO_DATE(CONCAT(#{beginTicketDate},'00:00:00'), '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="overTicketDate !=null  and overTicketDate != ''">
            AND ISOE.ISSUE_TIME<![CDATA[<=]]>STR_TO_DATE(CONCAT(#{overTicketDate},'23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="beginFlyDate !=null and beginFlyDate != '' ">
            AND IL.DEP_TIME<![CDATA[>=]]>STR_TO_DATE(CONCAT(#{beginFlyDate},'00:00:00'), '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="overFlyDate !=null  and overFlyDate != ''">
            AND IL.DEP_TIME<![CDATA[<=]]>STR_TO_DATE(CONCAT(#{overFlyDate},'23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="depPlace !=null and depPlace!=''">
            AND IL.DEP_AIRPORT="${depPlace}"
        </if>
        <if test="arrPlace !=null and arrPlace!=''">
            AND IL.ARR_AIRPORT="${arrPlace}"
        </if>
        <if test="supplier !=null and supplier!=''">
            AND CS.NAME ="${supplier}"
        </if>
        <if test="customer !=null and customer!=''">
            AND CC.NAME ="${customer}"
        </if>
    </sql>


</mapper>