<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempus.gss.product.ift.dao.IftOutReportDao">
    <resultMap id="IftReportResultMap" type="com.tempus.gss.product.ift.api.entity.IftOutReport">
        <result column="SUPPLIER_NAME" property="supplierName" />
        <result column="TYPE" property="type" />
        <result column="TICKET_DATE" property="ticketDate" />
        <result column="SALE_ORDER_NO" property="saleOrderNo" />
        <result column="ROUTING" property="routing" />
        <result column="FLIGHT_NO" property="flightNo" />
        <result column="CABIN" property="cabin" />
        <result column="DEP_DATE" property="depDate" />
        <result column="TICKET_NUM" property="ticketNum" />
        <result column="RATE" property="rate" />
        <result column="TRUE_PRICE" property="truePrice" />
        <result column="SETTLE_PRICE" property="settlePrice" />
        <result column="TAX" property="tax" />
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="GROSS" property="gross" />
        <result column="SALE_PERSON" property="salePerson" />
        <result column="SALE_DEPT" property="saleDept" />
        <result column="TICKET_PERSON" property="ticketPerson"/>
        <result column="MONTH_SETTLE" property="monthSettle" />
        <result column="COMPANY" property="company" />
        <result column="SETTLE_METHOD" property="settleMethod" />
        <result column="PASSENGER_NAME" property="passengerName" />
        <result column="GENDER" property="gender" />
        <result column="SOURCE" property="source" />
        <result column="REMARK" property="remark" />
        <result column="CHANGE_TYPE" property="changeType"/>
    </resultMap>
    <select id="queryIftOutReport" resultMap="IftReportResultMap">


        SELECT DISTINCT CS.NAME AS SUPPLIER_NAME,CASE WHEN ISCD.SALE_CHANGE_NO IS NOT NULL AND ISCE.CHANGE_TYPE=3 THEN '改签' ELSE '出票' END AS CHANGE_TYPE,ISOE.ISSUE_TIME AS TICKET_DATE,ISOE.SALE_ORDER_NO AS SALE_ORDER_NO,ISOD.TICKET_NO AS TICKET_NO,
        CONCAT(IL.DEP_AIRPORT,'-',IL.ARR_AIRPORT) AS ROUTING,IL.FLIGHT_NO AS FLIGHT_NO,IL.CABIN AS CABIN,IL.DEP_TIME AS DEP_DATE,
        1 AS TICKET_NUM,ISOE.EXCHANGE_RATE AS RATE,IP.SALE_FARE AS TRUE_PRICE,IP.SALE_PRICE AS SETTLE_PRICE,IP.SALE_TAX AS TAX,
        IP.SALE_PRICE AS TOTAL_PRICE,IP.SALE_PRICE-IP.BUY_PRICE-IP.BUY_TAX AS GROSS,ISOE.CREATOR AS SALE_PERSON,SD.NAME AS SALE_DEPT,
        SMD.NAME AS MONTH_SETTLE,
        SOI.NAME AS COMPANY,CONCAT(IP.SURNAME,'/',IP.NAME) AS PASSENGER_NAME,CASE WHEN IP.GENDER=1 THEN '男' ELSE '女' END AS GENDER,
        CC.BUSINESS_LINE AS SOURCE,ISOE.SALE_REMARK AS REMARK,ISOE.MODIFIER AS TICKET_PERSON
        FROM IFT_SALE_ORDER_EXT ISOE
        LEFT JOIN OS_SALEORDER OS ON OS.SALE_ORDER_NO=ISOE.SALE_ORDER_NO
        LEFT JOIN IFT_SALE_ORDER_DETAIL ISOD ON ISOD.SALE_ORDER_NO=ISOE.SALE_ORDER_NO
        LEFT JOIN CPS_CUSTOMER CC ON CC.CUSTOMER_NO=OS.CUSTOMER_NO
        LEFT JOIN OS_BUYORDER OB ON OB.SALE_ORDER_NO=OS.SALE_ORDER_NO
        LEFT JOIN IFT_BUY_ORDER_EXT IBOE ON IBOE.BUY_ORDER_NO=OB.BUY_ORDER_NO
        LEFT JOIN CPS_SUPPLIER CS ON CS.SUPPLIER_NO=IBOE.SUPPLIER_NO
        LEFT JOIN IFT_PASSENGER IP ON IP.PASSENGER_NO=ISOD.PASSENGER_NO
        LEFT JOIN IFT_LEG IL ON IL.LEG_NO=ISOD.LEG_NO
        LEFT JOIN SM_OWNER_INFO SOI ON SOI.OWNER=ISOE.OWNER
        LEFT JOIN GBC_DEOTCTYPE GD ON GD.CTYPE_NO=CC.GROUP_NO
        LEFT JOIN SM_DEPT SD ON SD.ID=GD.DEPT_ID
        LEFT JOIN SM_DICT SMD ON SMD.CODE=CC.BALANCE_CORPORATION
        LEFT JOIN IFT_SALE_CHANGE_DETAIL ISCD ON ISCD.SALE_ORDER_DETAIL_NO=ISOD.SALE_ORDER_DETAIL_NO
        LEFT JOIN IFT_SALE_CHANGE_EXT ISCE ON ISCE.SALE_CHANGE_NO=ISCD.SALE_CHANGE_NO
        WHERE GD.PTYPE=2

        <include refid="selectSumByDateAndDept"/>






    </select>

    <select id="getDept_nameList" resultType="java.lang.String">
       SELECT DISTINCT NAME FROM SM_DEPT
    </select>

    <sql id="selectSumByDateAndDept">
    <if test="beginDate !=null and beginDate != '' ">
        AND ISOE.ISSUE_TIME<![CDATA[>=]]>STR_TO_DATE(CONCAT(#{beginDate},'00:00:00'), '%Y-%m-%d %H:%i:%s')
    </if>
    <if test="overDate !=null  and overDate != ''">
        AND ISOE.ISSUE_TIME<![CDATA[<=]]>STR_TO_DATE(CONCAT(#{overDate},'23:59:59'), '%Y-%m-%d %H:%i:%s')
    </if>
        <if test="date !=null and date != '' ">
            AND  ISOE.ISSUE_TIME LIKE CONCAT(#{date},'%')
        </if>
    <if test="deptName !=null and deptName!=''">
        AND SD.NAME ="${deptName}"
    </if>
        <if test="changeType !=null and changeType!=''">
            AND  ${changeType}
        </if>
    </sql>


</mapper>