<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tempus.gss.product.ift.dao.policy.IftQueryPolicyMapper">

	<sql id="Base_Column_List" >
	    ID, OWNER, NAME, SOURCE, VOYAGE_TYPE, TICKET_WAY, AIRLINE, SUIT_AIRLINE, SUPPLIERS, 
	    SUPPLIER_OFFICE, TICKET_OFFICE, ORIGINAL_AGENCY_FEE, ORIGINAL_REWARD_FEE, AGENCY_FEE, 
	    REWARD_FEE, ONE_WAY_PRIVILEGE, ROUND_TRIP_PRIVILEGE, OPEN_TICKET_FEE, AUTO_TICKET, 
	    IS_GDS, TICKET_RANGE, FLY_START_DATE, FLY_END_DATE, RTN_START_DATE, RTN_END_DATE, 
	    TICKET_VALID_START_DATE, TICKET_VALID_END_DATE, TICKET_DATE, SAT_IS_TICKET, SAT_TICKET_DATE, 
	    SUN_IS_TICKET, SUN_TICKET_DATE, FLIGHT_TYPE, DEPART_CABIN, TRANSIT_CABIN, ROUND_TRIP_AIRPORT_TYPE, 
	    ROUND_TRIP_AIRPORT, IS_NOTSUIT_TRANSFER_AIRPORT, NOTSUIT_TRANSFER_AIRPORT, SUIT_AGE, 
	    SUIT_PEOPLE_NUMBER, SUIT_DOUBLE_PEOPLE, CHANGE_AND_REFUND, CHD_REWARD_TYPE, CHD_ASSIGN_REWARD_FEE, 
	    CHD_IS_ADD_HANDLING_FEE, CHD_ADD_HANDLING_FEE, CHD_TICKET_NO_AGENCY_FEE, CHD_NOT_ALONE_TICKET, 
	    CHD_PRIVILEGE, INF_TICKET, INF_IS_ADD_HANDLING_FEE, INF_ADD_HANDLING_FEE, PNR_TICKET_TYPE, 
	    AUTO_CHANGE_PNR, MAKE_NULL_PNR, CHANGE_PNR_NOT_AUTH, ASSIGN_BOOK_OFFICE, BOOK_OFFICE, 
	    ASSIGN_BOOK_OFFICE_TYPE, NOTSUIT_PASSENGER_TYPE, ARNK_TYPE, ARNK_SUIT_COUNTRY, SHARE_REWARD_TYPE, 
	    SHARE_ASSIGN_REWARD, SHARE_LEG_REWARD, SHARE_IS_SUIT_AIRLINE, SHARE_SUIT_AIRLINE, 
	    IS_MIX_CABIN, MIX_CABIN_TYPE, IS_TOUR_CODE_INCLUDE_TEXT, TOUR_CODE_INCLUDE_TEXT, 
	    TOUR_CODE_NO_AGENCY, TOUR_CODE_NO_REWARD, TOUR_CODE_CONTENT, IS_ROUND_TRIP_INCLUDE_CABIN, 
	    ROUND_TRIP_INCLUDE_CABIN, IS_PAR_LIMIT, PAR_LIMIT, FARE_Q_AGENCY, FARE_Q_REWARD, DEPART_CONTINENT,
	    DEPART_COUNTRY, DEPART_EXCLUDE_COUNTRY, DEPART_AIRPORT, DEPART_EXCLUDE_AIRPORT, TRANSIT_CONTINENT, TRANSIT_COUNTRY, 
	    TRANSIT_EXCLUDE_COUNTRY, TRANSIT_AIRPORT, TRANSIT_EXCLUDE_AIRPORT, ARRIVE_CONTINENT, ARRIVE_COUNTRY, 
	    ARRIVE_EXCLUDE_COUNTRY, ARRIVE_AIRPORT, ARRIVE_EXCLUDE_AIRPORT,  
	    FARE_S_AGENCY, FARE_S_REWARD, IS_FARE_INCLUDE_TEXT, FARE_INCLUDE_TEXT, FARE_INCLUDE_TYPE, 
	    IS_SUIT_FARE_BASE, SUIT_FARE_BASE, IS_FLY_SUIT_FLIGHT, FLY_SUIT_FLIGHT, IS_RTN_SUIT_FLIGHT, 
	    RTN_SUIT_FLIGHT, IS_NOT_SUIT_FLIGHT, NOT_SUIT_FLIGHT, IS_NOT_SUIT_ROUTE, NOT_SUIT_ROUTE, 
	    FLY_NOTSUIT_CYCLE, RTN_NOTSUIT_CYCLE, FLY_NOTSUIT_DATE, RTN_NOTSUIT_DATE, REMARK, 
	    STATUS, CREATOR, CREATE_TIME, MODIFIER, MODIFY_TIME, VALID
  </sql>
    
    <sql id="queryWhere">
    	<if test="null != airline &amp;&amp; '' != airline">	AND (T1.AIRLINE=#{airline} OR T1.SUIT_AIRLINE like '%${airline}%') </if>
    	<if test="null != voyageType &amp;&amp; '' != voyageType">	AND (T1.VOYAGE_TYPE=#{voyageType} OR T1.VOYAGE_TYPE=3) </if>
    	<if test=" null != flyDate">
			AND T1.FLY_START_DATE &gt;= #{flyDate}
		</if>
		<if test=" null != flyDate">
			AND T1.FLY_END_DATE &lt;= #{flyDate}
		</if>
		<if test=" null != rtnFlyDate">
			AND T1.RTN_START_DATE &gt;= #{rtnFlyDate}
		</if>
		<if test=" null != rtnFlyDate">
			AND T1.RTN_END_DATE &lt;= #{rtnFlyDate}
		</if>
		<!-- 开始销售时间sql组装 -->
		<if test=" null != saleWeek &amp;&amp; 1 &lt;= saleWeek &amp;&amp; 5 &gt;= saleWeek">
			AND NOW() &gt;= (STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y-%m-%d'),' ',(LEFT(T1.TICKET_DATE,LOCATE('-',T1.TICKET_DATE)-1)),':00'),'%Y-%m-%d %H:%i:%s'))
			AND NOW() &lt;= (STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y-%m-%d'),' ',(RIGHT(T1.TICKET_DATE,LOCATE('-',T1.TICKET_DATE)-1)),':00'),'%Y-%m-%d %H:%i:%s'))
		</if>
		<if test=" null != saleWeek &amp;&amp; 6 == saleWeek ">
			AND T1.SAT_IS_TICKET = 1 
			AND NOW() &gt;= (STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y-%m-%d'),' ',(LEFT(T1.SAT_TICKET_DATE,LOCATE('-',T1.SAT_TICKET_DATE)-1)),':00'),'%Y-%m-%d %H:%i:%s'))
			AND NOW() &lt;= (STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y-%m-%d'),' ',(RIGHT(T1.SAT_TICKET_DATE,LOCATE('-',T1.SAT_TICKET_DATE)-1)),':00'),'%Y-%m-%d %H:%i:%s'))
		</if>
		<if test=" null != saleWeek &amp;&amp; 7 == saleWeek ">
			AND T1.SUN_IS_TICKET = 1 
			AND NOW() &gt;= (STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y-%m-%d'),' ',(LEFT(T1.SUN_TICKET_DATE,LOCATE('-',T1.SUN_TICKET_DATE)-1)),':00'),'%Y-%m-%d %H:%i:%s'))
			AND NOW() &lt;= (STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y-%m-%d'),' ',(RIGHT(T1.SUN_TICKET_DATE,LOCATE('-',T1.SUN_TICKET_DATE)-1)),':00'),'%Y-%m-%d %H:%i:%s'))
		</if>
		<!-- 出发机场组装 -->
		<if test="null != departAirport &amp;&amp; '' != departAirport">
			AND ((T1.DEPART_AIRPORT like '%${departAirport}%') 
				OR (T1.DEPART_COUNTRY like '%${departCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${departAirport}%')
				<!-- 境外 -->
				<if test="'I' == departSign">
					OR (T1.DEPART_COUNTRY = 'CN1' AND T1.DEPART_EXCLUDE_COUNTRY not like '%${departCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${departAirport}%')
				</if>
				<!-- 境内 -->
				<if test="'D' == departSign">
					OR (T1.DEPART_COUNTRY = 'CN0' AND T1.DEPART_EXCLUDE_COUNTRY not like '%${departCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${departAirport}%')
				</if>
				<!-- 全球 -->
				OR (T1.DEPART_COUNTRY = 'A00' AND T1.DEPART_EXCLUDE_COUNTRY not like '%${departCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${departAirport}%')
				)
		</if>
		<!-- 到达机场组装 -->
		<if test="null != arriveAirport &amp;&amp; '' != arriveAirport">
			AND ((T1.ARRIVE_AIRPORT like '%${arriveAirport}%') 
				OR (T1.ARRIVE_COUNTRY like '%${arriveCountry}%' AND T1.ARRIVE_EXCLUDE_AIRPORT not like '%${arriveAirport}%')
				<!-- 境外 -->
				<if test="'I' == departSign">
					OR (T1.ARRIVE_COUNTRY = 'CN1' AND T1.ARRIVE_EXCLUDE_COUNTRY not like '%${arriveCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${arriveAirport}%')
				</if>
				<!-- 境内 -->
				<if test="'D' == departSign">
					OR (T1.ARRIVE_COUNTRY = 'CN0' AND T1.ARRIVE_EXCLUDE_COUNTRY not like '%${arriveCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${arriveAirport}%')
				</if>
				<!-- 全球 -->
				OR (T1.ARRIVE_COUNTRY = 'A00' AND T1.ARRIVE_EXCLUDE_COUNTRY not like '%${arriveCountry}%' AND T1.DEPART_EXCLUDE_AIRPORT not like '%${arriveAirport}%')
				)
		</if>
		<if test=" null != psgerNum">
			AND CAST(LEFT(T1.SUIT_PEOPLE_NUMBER,LOCATE('-',T1.SUIT_PEOPLE_NUMBER)-1) AS SIGNED) &gt;= #{psgerNum}
			AND CAST(RIGHT(T1.SUIT_PEOPLE_NUMBER,LOCATE('-',T1.SUIT_PEOPLE_NUMBER)-1) AS SIGNED) &lt;= #{psgerNum}
		</if>
		<if test=" null != psgerEven &amp;&amp; false == psgerEven">
			AND (T1.SUIT_DOUBLE_PEOPLE IS NULL OR T1.SUIT_DOUBLE_PEOPLE = FALSE)   
		</if>
		<if test=" null != psgerType &amp;&amp; 2 == psgerType">
			AND T1.CHD_REWARD_TYPE != 3 AND T1.CHD_NOT_ALONE_TICKET == FALSE 
		</if>
		<if test=" null != psgerType &amp;&amp; 4 == psgerType">
			AND T1.CHD_REWARD_TYPE != 3
		</if>
		<if test=" null != psgerType &amp;&amp; (3 == psgerType || 5 == psgerType)">
			AND T1.INF_TICKET != 2
		</if>
		<if test=" null != departWeek ">
			AND (T1.FLY_NOTSUIT_CYCLE IS NULL OR  T1.FLY_NOTSUIT_CYCLE not like '%${departWeek}%')
		</if>
		<if test=" null != rtnDepartWeek ">
			AND (T1.RTN_NOTSUIT_CYCLE IS NULL OR  T1.RTN_NOTSUIT_CYCLE not like '%${rtnDepartWeek}%')
		</if>
    </sql>
    
    <select id="query" parameterType="com.tempus.gss.product.ift.api.entity.search.FlightQuery" resultType="com.tempus.gss.product.ift.api.entity.policy.IftPolicy">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM IFT_POLICY_NEW T1 WHERE T1.VALID=1 AND T1.OWNER= #{owner} AND T1.STATUS = 3 
		<include refid="queryWhere"/>
	</select>
	
</mapper>
