<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tempus.gss.product.ift.dao.PolicyDao" >
  <resultMap id="BaseResultMap" type="com.tempus.gss.product.ift.api.entity.Policy" >
    <!--政策编号-->
    <id column="POLICY_NO" property="policyNo" jdbcType="BIGINT" />
    <!--编号-->
    <result column="ID" property="id" jdbcType="BIGINT" />
    <!--数据归属单位-->
    <result column="OWNER" property="owner" jdbcType="INTEGER" />
    <!--出票航司-->
    <result column="AIRLINE" property="airline" jdbcType="VARCHAR" />
    <!--投放分销商-->
    <result column="DISTRIBUTOR" property="distributor" jdbcType="VARCHAR" />
    <!--产品商-->
    <result column="PRODUCTOR" property="productor" jdbcType="VARCHAR" />
    <!--销售配置-->
    <result column="SALE_CONFIG" property="saleConfig" jdbcType="VARCHAR" />
    <!--销售配置-->
    <result column="TICKET_WAY" property="ticketWay" jdbcType="VARCHAR" />
    <!--产品号-->
    <result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR" />
    <!--旅客类型 ADT/CNN-->
    <result column="TRAVELLER_TYPE" property="travellerType" jdbcType="VARCHAR" />
    <!--旅客人数下限-->
    <result column="TRAVELLER_LIMIT" property="travellerLimit" jdbcType="INTEGER" />
    <!--团队出票类型 0：不限，1：散客，2：团队-->
    <result column="TEAM_TICKET_TYPE" property="teamTicketType" jdbcType="INTEGER" />
    <!--行程类型 1：单程，2：往返-->
    <result column="TRIP_TYPE" property="tripType" jdbcType="INTEGER" />
    <!--去程起点-->
    <result column="GO_START" property="goStart" jdbcType="VARCHAR" />
    <!--去程起点除外-->
    <result column="EXCEPT_GO_START" property="exceptGoStart" jdbcType="VARCHAR" />
    <!--去程终点/折返点-->
    <result column="GO_END" property="goEnd" jdbcType="VARCHAR" />
    <!--去程终点/折返点除外-->
    <result column="EXCEPT_GO_END" property="exceptGoEnd" jdbcType="VARCHAR" />
    <!--回程终点-->
    <result column="BACK_END" property="backEnd" jdbcType="VARCHAR" />
    <!--回程终点除外-->
    <result column="EXCEPT_BACK_END" property="exceptBackEnd" jdbcType="VARCHAR" />
    <!--跨航线组合匹配-->
    <result column="ALLOW_CROSS_LINE_MATCH" property="allowCrossLineMatch" jdbcType="BIT" />
    <!--去程旅行日期-->
    <result column="TRAVEL_DATE" property="travelDate" jdbcType="VARCHAR" />
    <!--回程旅行日期-->
    <result column="BACK_DATE" property="backDate" jdbcType="VARCHAR" />
    <!--出票日期-->
    <result column="TICKET_DATE" property="ticketDate" jdbcType="VARCHAR" />
    <!--全程是否同一承运人-->
    <result column="IS_SAME_CARRIER" property="isSameCarrier" jdbcType="BIT" />
    <!--是否代码共享-->
    <result column="IS_CODE_SHARE" property="isCodeShare" jdbcType="BIT" />
    <!--共享航司 CA/MU-->
    <result column="SHARE_AIRLINE" property="shareAirline" jdbcType="VARCHAR" />
    <!--是否必须直飞-->
    <result column="ONLY_DIRECT_FLIGHT" property="onlyDirectFlight" jdbcType="BIT" />
    <!--去程不能经过-->
    <result column="GO_NOT_FLIGHT" property="goNotFlight" jdbcType="VARCHAR" />
    <!--去程必须经过-->
    <result column="GO_MUST_FLIGHT" property="goMustFlight" jdbcType="VARCHAR" />
    <!--回程不能经过-->
    <result column="BACK_NOT_FLIGHT" property="backNotFlight" jdbcType="VARCHAR" />
    <!--回程必须经过-->
    <result column="BACK_MUST_FLIGHT" property="backMustFlight" jdbcType="VARCHAR" />
    <!--去程仅限航班号-->
    <result column="GO_FLIGHT_NO" property="goFlightNo" jdbcType="VARCHAR" />
    <!--回程仅限航班号-->
    <result column="BACK_FLIGHT_NO" property="backFlightNo" jdbcType="VARCHAR" />
    <!--排除航班号-->
    <result column="EXCEPT_FLIGHT_NO" property="exceptFlightNo" jdbcType="VARCHAR" />
    <!--代理费-->
    <result column="AGENCY_FEE" property="agencyFee" jdbcType="DECIMAL" />
    <!--政策开始日期-->
    <result column="POLICY_EFFECT_START" property="policyEffectStart" jdbcType="VARCHAR" />
    <!--政策结束日期-->
    <result column="POLICY_EFFECT_END" property="policyEffectEnd" jdbcType="VARCHAR" />
    <!--销售备注-->
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <!--状态 1：启用，2：停用-->
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <!--创建时间-->
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <!--修改时间-->
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <!--创建者-->
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <!--操作人 默认为：sys-->
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <!--删除标志 0 无效 已删除 1 有效-->
    <result column="VALID" property="valid" jdbcType="BIT" />
    <!--版本号-->
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <result column="ADV_PNR" property="advPnr" jdbcType="BIT" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIT" />
    <result column="BATCH_NUM" property="batchNum" jdbcType="VARCHAR" />
    <result column="IS_REVIEW" property="isReview" jdbcType="BIT" />
    <!--一对多关联控润信息-->
    <collection property="cabinList" ofType="com.tempus.gss.product.ift.api.entity.Cabin" column="POLICY_NO"
                select="com.tempus.gss.product.ift.dao.CabinDao.selectByPolicyNo"/>
  </resultMap>
  <sql id="Base_Column_List" >
    POLICY_NO, ID, OWNER, AIRLINE, DISTRIBUTOR, PRODUCTOR, SALE_CONFIG,TICKET_WAY, PRODUCT_NO, TRAVELLER_TYPE,
    TRAVELLER_LIMIT, TEAM_TICKET_TYPE, TRIP_TYPE, GO_START, EXCEPT_GO_START, GO_END,
    EXCEPT_GO_END, BACK_END, EXCEPT_BACK_END, ALLOW_CROSS_LINE_MATCH, TRAVEL_DATE, BACK_DATE,
    TICKET_DATE, IS_SAME_CARRIER, IS_CODE_SHARE, SHARE_AIRLINE, ONLY_DIRECT_FLIGHT, GO_NOT_FLIGHT,
    GO_MUST_FLIGHT, BACK_NOT_FLIGHT, BACK_MUST_FLIGHT, GO_FLIGHT_NO, BACK_FLIGHT_NO,
    EXCEPT_FLIGHT_NO, AGENCY_FEE, POLICY_EFFECT_START, POLICY_EFFECT_END, REMARK, STATUS,
    CREATE_TIME, MODIFY_TIME, CREATOR, MODIFIER, VALID, VERSION,ADV_PNR,IS_DEFAULT,BATCH_NUM,IS_REVIEW
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from IFT_POLICY
    where POLICY_TYPE = 5 AND ID = #{id,jdbcType=BIGINT} AND VALID=1
  </select>
  <select id="selectByPlolicyId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from IFT_POLICY
    where POLICY_TYPE = 5 AND POLICY_NO = #{policyNo,jdbcType=BIGINT} AND VALID=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from IFT_POLICY
    where POLICY_TYPE = 5 AND POLICY_NO = #{policyNo,jdbcType=BIGINT} AND
  </delete>
  <insert id="insert" parameterType="com.tempus.gss.product.ift.api.entity.Policy" >
    insert into IFT_POLICY (POLICY_NO, ID, OWNER,
    AIRLINE, DISTRIBUTOR, PRODUCTOR,
    SALE_CONFIG,TICKET_WAY, PRODUCT_NO, TRAVELLER_TYPE,
    TRAVELLER_LIMIT, TEAM_TICKET_TYPE, TRIP_TYPE,
    GO_START, EXCEPT_GO_START, GO_END,
    EXCEPT_GO_END, BACK_END, EXCEPT_BACK_END,
    ALLOW_CROSS_LINE_MATCH, TRAVEL_DATE, BACK_DATE,
    TICKET_DATE, IS_SAME_CARRIER, IS_CODE_SHARE,
    SHARE_AIRLINE, ONLY_DIRECT_FLIGHT, GO_NOT_FLIGHT,
    GO_MUST_FLIGHT, BACK_NOT_FLIGHT, BACK_MUST_FLIGHT,
    GO_FLIGHT_NO, BACK_FLIGHT_NO, EXCEPT_FLIGHT_NO,
    AGENCY_FEE, POLICY_EFFECT_START, POLICY_EFFECT_END,
    REMARK, STATUS, CREATE_TIME,
    MODIFY_TIME, CREATOR, MODIFIER,
    VALID, VERSION,ADV_PNR,IS_REVIEW)
    values (#{policyNo,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{owner,jdbcType=INTEGER},
    #{airline,jdbcType=VARCHAR}, #{distributor,jdbcType=VARCHAR}, #{productor,jdbcType=VARCHAR},
    #{saleConfig,jdbcType=VARCHAR},#{ticketWay,jdbcType=VARCHAR}, #{productNo,jdbcType=VARCHAR}, #{travellerType,jdbcType=VARCHAR},
    #{travellerLimit,jdbcType=INTEGER}, #{teamTicketType,jdbcType=INTEGER}, #{tripType,jdbcType=INTEGER},
    #{goStart,jdbcType=VARCHAR}, #{exceptGoStart,jdbcType=VARCHAR}, #{goEnd,jdbcType=VARCHAR},
    #{exceptGoEnd,jdbcType=VARCHAR}, #{backEnd,jdbcType=VARCHAR}, #{exceptBackEnd,jdbcType=VARCHAR},
    #{allowCrossLineMatch,jdbcType=BIT}, #{travelDate,jdbcType=VARCHAR}, #{backDate,jdbcType=VARCHAR},
    #{ticketDate,jdbcType=VARCHAR}, #{isSameCarrier,jdbcType=BIT}, #{isCodeShare,jdbcType=BIT},
    #{shareAirline,jdbcType=VARCHAR}, #{onlyDirectFlight,jdbcType=BIT}, #{goNotFlight,jdbcType=VARCHAR},
    #{goMustFlight,jdbcType=VARCHAR}, #{backNotFlight,jdbcType=VARCHAR}, #{backMustFlight,jdbcType=VARCHAR},
    #{goFlightNo,jdbcType=VARCHAR}, #{backFlightNo,jdbcType=VARCHAR}, #{exceptFlightNo,jdbcType=VARCHAR},
    #{agencyFee,jdbcType=DECIMAL}, #{policyEffectStart,jdbcType=VARCHAR}, #{policyEffectEnd,jdbcType=VARCHAR},
    #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
    #{modifyTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR},
    #{valid,jdbcType=BIT}, #{version,jdbcType=INTEGER},#{advPnr,jdbcType=BIT},#{isReview,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tempus.gss.product.ift.api.entity.Policy" >
    insert into IFT_POLICY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyNo != null" >
        POLICY_NO,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="owner != null" >
        OWNER,
      </if>
      <if test="airline != null" >
        AIRLINE,
      </if>
      <if test="distributor != null" >
        DISTRIBUTOR,
      </if>
      <if test="productor != null" >
        PRODUCTOR,
      </if>
      <if test="saleConfig != null" >
        SALE_CONFIG,
      </if>
      <if test="ticketWay != null" >
      	TICKET_WAY,
      </if>
      <if test="productNo != null" >
        PRODUCT_NO,
      </if>
      <if test="travellerType != null" >
        TRAVELLER_TYPE,
      </if>
      <if test="travellerLimit != null" >
        TRAVELLER_LIMIT,
      </if>
      <if test="teamTicketType != null" >
        TEAM_TICKET_TYPE,
      </if>
      <if test="tripType != null" >
        TRIP_TYPE,
      </if>
      <if test="goStart != null" >
        GO_START,
      </if>
      <if test="exceptGoStart != null" >
        EXCEPT_GO_START,
      </if>
      <if test="goEnd != null" >
        GO_END,
      </if>
      <if test="exceptGoEnd != null" >
        EXCEPT_GO_END,
      </if>
      <if test="backEnd != null" >
        BACK_END,
      </if>
      <if test="exceptBackEnd != null" >
        EXCEPT_BACK_END,
      </if>
      <if test="allowCrossLineMatch != null" >
        ALLOW_CROSS_LINE_MATCH,
      </if>
      <if test="travelDate != null" >
        TRAVEL_DATE,
      </if>
      <if test="backDate != null" >
        BACK_DATE,
      </if>
      <if test="ticketDate != null" >
        TICKET_DATE,
      </if>
      <if test="isSameCarrier != null" >
        IS_SAME_CARRIER,
      </if>
      <if test="isCodeShare != null" >
        IS_CODE_SHARE,
      </if>
      <if test="shareAirline != null" >
        SHARE_AIRLINE,
      </if>
      <if test="onlyDirectFlight != null" >
        ONLY_DIRECT_FLIGHT,
      </if>
      <if test="goNotFlight != null" >
        GO_NOT_FLIGHT,
      </if>
      <if test="goMustFlight != null" >
        GO_MUST_FLIGHT,
      </if>
      <if test="backNotFlight != null" >
        BACK_NOT_FLIGHT,
      </if>
      <if test="backMustFlight != null" >
        BACK_MUST_FLIGHT,
      </if>
      <if test="goFlightNo != null" >
        GO_FLIGHT_NO,
      </if>
      <if test="backFlightNo != null" >
        BACK_FLIGHT_NO,
      </if>
      <if test="exceptFlightNo != null" >
        EXCEPT_FLIGHT_NO,
      </if>
      <if test="agencyFee != null" >
        AGENCY_FEE,
      </if>
      <if test="policyEffectStart != null" >
        POLICY_EFFECT_START,
      </if>
      <if test="policyEffectEnd != null" >
        POLICY_EFFECT_END,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="isReview != null" >
        IS_REVIEW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyNo != null" >
        #{policyNo,jdbcType=BIGINT},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="airline != null" >
        #{airline,jdbcType=VARCHAR},
      </if>
      <if test="distributor != null" >
        #{distributor,jdbcType=VARCHAR},
      </if>
      <if test="productor != null" >
        #{productor,jdbcType=VARCHAR},
      </if>
      <if test="saleConfig != null" >
        #{saleConfig,jdbcType=VARCHAR},
      </if>
      <if test="ticketWay != null" >
        #{ticketWay,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="travellerType != null" >
        #{travellerType,jdbcType=VARCHAR},
      </if>
      <if test="travellerLimit != null" >
        #{travellerLimit,jdbcType=INTEGER},
      </if>
      <if test="teamTicketType != null" >
        #{teamTicketType,jdbcType=INTEGER},
      </if>
      <if test="tripType != null" >
        #{tripType,jdbcType=INTEGER},
      </if>
      <if test="goStart != null" >
        #{goStart,jdbcType=VARCHAR},
      </if>
      <if test="exceptGoStart != null" >
        #{exceptGoStart,jdbcType=VARCHAR},
      </if>
      <if test="goEnd != null" >
        #{goEnd,jdbcType=VARCHAR},
      </if>
      <if test="exceptGoEnd != null" >
        #{exceptGoEnd,jdbcType=VARCHAR},
      </if>
      <if test="backEnd != null" >
        #{backEnd,jdbcType=VARCHAR},
      </if>
      <if test="exceptBackEnd != null" >
        #{exceptBackEnd,jdbcType=VARCHAR},
      </if>
      <if test="allowCrossLineMatch != null" >
        #{allowCrossLineMatch,jdbcType=BIT},
      </if>
      <if test="travelDate != null" >
        #{travelDate,jdbcType=VARCHAR},
      </if>
      <if test="backDate != null" >
        #{backDate,jdbcType=VARCHAR},
      </if>
      <if test="ticketDate != null" >
        #{ticketDate,jdbcType=VARCHAR},
      </if>
      <if test="isSameCarrier != null" >
        #{isSameCarrier,jdbcType=BIT},
      </if>
      <if test="isCodeShare != null" >
        #{isCodeShare,jdbcType=BIT},
      </if>
      <if test="shareAirline != null" >
        #{shareAirline,jdbcType=VARCHAR},
      </if>
      <if test="onlyDirectFlight != null" >
        #{onlyDirectFlight,jdbcType=BIT},
      </if>
      <if test="goNotFlight != null" >
        #{goNotFlight,jdbcType=VARCHAR},
      </if>
      <if test="goMustFlight != null" >
        #{goMustFlight,jdbcType=VARCHAR},
      </if>
      <if test="backNotFlight != null" >
        #{backNotFlight,jdbcType=VARCHAR},
      </if>
      <if test="backMustFlight != null" >
        #{backMustFlight,jdbcType=VARCHAR},
      </if>
      <if test="goFlightNo != null" >
        #{goFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="backFlightNo != null" >
        #{backFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="exceptFlightNo != null" >
        #{exceptFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="agencyFee != null" >
        #{agencyFee,jdbcType=DECIMAL},
      </if>
      <if test="policyEffectStart != null" >
        #{policyEffectStart,jdbcType=VARCHAR},
      </if>
      <if test="policyEffectEnd != null" >
        #{policyEffectEnd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isReview != null" >
        #{isReview,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <insert id="insertByList" useGeneratedKeys="true" parameterType="java.util.List">
         INSERT INTO IFT_POLICY
			(POLICY_NO,OWNER,
		    AIRLINE, DISTRIBUTOR, PRODUCTOR,
		    SALE_CONFIG,TICKET_WAY, PRODUCT_NO, TRAVELLER_TYPE,
		    TRAVELLER_LIMIT, TEAM_TICKET_TYPE, TRIP_TYPE,
		    GO_START, EXCEPT_GO_START, GO_END,
		    EXCEPT_GO_END, BACK_END, EXCEPT_BACK_END,
		    ALLOW_CROSS_LINE_MATCH, TRAVEL_DATE, BACK_DATE,
		    TICKET_DATE, IS_SAME_CARRIER, IS_CODE_SHARE,
		    SHARE_AIRLINE, ONLY_DIRECT_FLIGHT, GO_NOT_FLIGHT,
		    GO_MUST_FLIGHT, BACK_NOT_FLIGHT, BACK_MUST_FLIGHT,
		    GO_FLIGHT_NO, BACK_FLIGHT_NO, EXCEPT_FLIGHT_NO,
		    AGENCY_FEE, POLICY_EFFECT_START, POLICY_EFFECT_END,
		    REMARK, STATUS, CREATE_TIME,
		    MODIFY_TIME, CREATOR, MODIFIER,
		    VALID, VERSION,ADV_PNR,BATCH_NUM,IS_REVIEW)
		    VALUES
		    <foreach collection="list" item="item" index="index" separator="," >
			    (
			        #{item.policyNo},#{item.owner},
				    #{item.airline}, #{item.distributor}, #{item.productor},
				    #{item.saleConfig},#{item.ticketWay}, #{item.productNo}, #{item.travellerType},
				    #{item.travellerLimit}, #{item.teamTicketType}, #{item.tripType},
				    #{item.goStart}, #{item.exceptGoStart}, #{item.goEnd},
				    #{item.exceptGoEnd}, #{item.backEnd}, #{item.exceptBackEnd},
				    #{item.allowCrossLineMatch}, #{item.travelDate}, #{item.backDate},
				    #{item.ticketDate}, #{item.isSameCarrier}, #{item.isCodeShare},
				    #{item.shareAirline}, #{item.onlyDirectFlight}, #{item.goNotFlight},
				    #{item.goMustFlight}, #{item.backNotFlight}, #{item.backMustFlight},
				    #{item.goFlightNo}, #{item.backFlightNo}, #{item.exceptFlightNo},
				    #{item.agencyFee}, #{item.policyEffectStart}, #{item.policyEffectEnd},
				    #{item.remark}, #{item.status}, #{item.createTime},
				    #{item.modifyTime}, #{item.creator}, #{item.modifier},
			        #{item.valid}, #{item.version},#{item.advPnr},#{item.batchNum},#{item.isReview}
			    )
		   </foreach>
   </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tempus.gss.product.ift.api.entity.Policy" >
    update IFT_POLICY
    <set >
      <if test="owner != null" >
        OWNER = #{owner,jdbcType=INTEGER},
      </if>
      <if test="airline != null" >
        AIRLINE = #{airline,jdbcType=VARCHAR},
      </if>
      <if test="distributor != null" >
        DISTRIBUTOR = #{distributor,jdbcType=VARCHAR},
      </if>
      <if test="productor != null" >
        PRODUCTOR = #{productor,jdbcType=VARCHAR},
      </if>
      <if test="saleConfig != null" >
        SALE_CONFIG = #{saleConfig,jdbcType=VARCHAR},
      </if>
      <if test="ticketWay != null" >
        TICKET_WAY = #{ticketWay,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="travellerType != null" >
        TRAVELLER_TYPE = #{travellerType,jdbcType=VARCHAR},
      </if>
      <if test="travellerLimit != null" >
        TRAVELLER_LIMIT = #{travellerLimit,jdbcType=INTEGER},
      </if>
      <if test="teamTicketType != null" >
        TEAM_TICKET_TYPE = #{teamTicketType,jdbcType=INTEGER},
      </if>
      <if test="tripType != null" >
        TRIP_TYPE = #{tripType,jdbcType=INTEGER},
      </if>
      <if test="goStart != null" >
        GO_START = #{goStart,jdbcType=VARCHAR},
      </if>
      <if test="exceptGoStart != null" >
        EXCEPT_GO_START = #{exceptGoStart,jdbcType=VARCHAR},
      </if>
      <if test="goEnd != null" >
        GO_END = #{goEnd,jdbcType=VARCHAR},
      </if>
      <if test="exceptGoEnd != null" >
        EXCEPT_GO_END = #{exceptGoEnd,jdbcType=VARCHAR},
      </if>
      <if test="backEnd != null" >
        BACK_END = #{backEnd,jdbcType=VARCHAR},
      </if>
      <if test="exceptBackEnd != null" >
        EXCEPT_BACK_END = #{exceptBackEnd,jdbcType=VARCHAR},
      </if>
      <if test="allowCrossLineMatch != null" >
        ALLOW_CROSS_LINE_MATCH = #{allowCrossLineMatch,jdbcType=BIT},
      </if>
      <if test="travelDate != null" >
        TRAVEL_DATE = #{travelDate,jdbcType=VARCHAR},
      </if>
      <if test="backDate != null" >
        BACK_DATE = #{backDate,jdbcType=VARCHAR},
      </if>
      <if test="ticketDate != null" >
        TICKET_DATE = #{ticketDate,jdbcType=VARCHAR},
      </if>
      <if test="isSameCarrier != null" >
        IS_SAME_CARRIER = #{isSameCarrier,jdbcType=BIT},
      </if>
      <if test="isCodeShare != null" >
        IS_CODE_SHARE = #{isCodeShare,jdbcType=BIT},
      </if>
      <if test="shareAirline != null" >
        SHARE_AIRLINE = #{shareAirline,jdbcType=VARCHAR},
      </if>
      <if test="onlyDirectFlight != null" >
        ONLY_DIRECT_FLIGHT = #{onlyDirectFlight,jdbcType=BIT},
      </if>
      <if test="goNotFlight != null" >
        GO_NOT_FLIGHT = #{goNotFlight,jdbcType=VARCHAR},
      </if>
      <if test="goMustFlight != null" >
        GO_MUST_FLIGHT = #{goMustFlight,jdbcType=VARCHAR},
      </if>
      <if test="backNotFlight != null" >
        BACK_NOT_FLIGHT = #{backNotFlight,jdbcType=VARCHAR},
      </if>
      <if test="backMustFlight != null" >
        BACK_MUST_FLIGHT = #{backMustFlight,jdbcType=VARCHAR},
      </if>
      <if test="goFlightNo != null" >
        GO_FLIGHT_NO = #{goFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="backFlightNo != null" >
        BACK_FLIGHT_NO = #{backFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="exceptFlightNo != null" >
        EXCEPT_FLIGHT_NO = #{exceptFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="agencyFee != null" >
        AGENCY_FEE = #{agencyFee,jdbcType=DECIMAL},
      </if>
      <if test="policyEffectStart != null" >
        POLICY_EFFECT_START = #{policyEffectStart,jdbcType=VARCHAR},
      </if>
      <if test="policyEffectEnd != null" >
        POLICY_EFFECT_END = #{policyEffectEnd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=BIT},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="advPnr != null" >
        ADV_PNR = #{advPnr,jdbcType=BIT},
       </if>
      <if test="isReview != null" >
        IS_REVIEW = #{isReview,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tempus.gss.product.ift.api.entity.Policy" >
    update IFT_POLICY
    set ID = #{id,jdbcType=BIGINT},
    OWNER = #{owner,jdbcType=INTEGER},
    AIRLINE = #{airline,jdbcType=VARCHAR},
    DISTRIBUTOR = #{distributor,jdbcType=VARCHAR},
    PRODUCTOR = #{productor,jdbcType=VARCHAR},
    SALE_CONFIG = #{saleConfig,jdbcType=VARCHAR},
    TICKET_WAY = #{ticketWay,jdbcType=VARCHAR},
    PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
    TRAVELLER_TYPE = #{travellerType,jdbcType=VARCHAR},
    TRAVELLER_LIMIT = #{travellerLimit,jdbcType=INTEGER},
    TEAM_TICKET_TYPE = #{teamTicketType,jdbcType=INTEGER},
    TRIP_TYPE = #{tripType,jdbcType=INTEGER},
    GO_START = #{goStart,jdbcType=VARCHAR},
    EXCEPT_GO_START = #{exceptGoStart,jdbcType=VARCHAR},
    GO_END = #{goEnd,jdbcType=VARCHAR},
    EXCEPT_GO_END = #{exceptGoEnd,jdbcType=VARCHAR},
    BACK_END = #{backEnd,jdbcType=VARCHAR},
    EXCEPT_BACK_END = #{exceptBackEnd,jdbcType=VARCHAR},
    ALLOW_CROSS_LINE_MATCH = #{allowCrossLineMatch,jdbcType=BIT},
    TRAVEL_DATE = #{travelDate,jdbcType=VARCHAR},
    BACK_DATE = #{backDate,jdbcType=VARCHAR},
    TICKET_DATE = #{ticketDate,jdbcType=VARCHAR},
    IS_SAME_CARRIER = #{isSameCarrier,jdbcType=BIT},
    IS_CODE_SHARE = #{isCodeShare,jdbcType=BIT},
    SHARE_AIRLINE = #{shareAirline,jdbcType=VARCHAR},
    ONLY_DIRECT_FLIGHT = #{onlyDirectFlight,jdbcType=BIT},
    GO_NOT_FLIGHT = #{goNotFlight,jdbcType=VARCHAR},
    GO_MUST_FLIGHT = #{goMustFlight,jdbcType=VARCHAR},
    BACK_NOT_FLIGHT = #{backNotFlight,jdbcType=VARCHAR},
    BACK_MUST_FLIGHT = #{backMustFlight,jdbcType=VARCHAR},
    GO_FLIGHT_NO = #{goFlightNo,jdbcType=VARCHAR},
    BACK_FLIGHT_NO = #{backFlightNo,jdbcType=VARCHAR},
    EXCEPT_FLIGHT_NO = #{exceptFlightNo,jdbcType=VARCHAR},
    AGENCY_FEE = #{agencyFee,jdbcType=DECIMAL},
    POLICY_EFFECT_START = #{policyEffectStart,jdbcType=VARCHAR},
    POLICY_EFFECT_END = #{policyEffectEnd,jdbcType=VARCHAR},
    REMARK = #{remark,jdbcType=VARCHAR},
    STATUS = #{status,jdbcType=INTEGER},
    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
    MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
    CREATOR = #{creator,jdbcType=VARCHAR},
    MODIFIER = #{modifier,jdbcType=VARCHAR},
    VALID = #{valid,jdbcType=BIT},
    VERSION = #{version,jdbcType=INTEGER},
    IS_REVIEW = #{isReview,jdbcType=BIT}
    where POLICY_NO = #{policyNo,jdbcType=BIGINT}
  </update>
  <select id="queryObjByOD" resultMap="BaseResultMap" parameterType="com.tempus.gss.product.ift.api.entity.Policy" >
    select
    <include refid="Base_Column_List" />
    from IFT_POLICY
    where POLICY_TYPE = 5 AND
    <trim suffixOverrides="AND" >
      <if test="airline != null" >
        AIRLINE = #{airline,jdbcType=VARCHAR} AND
      </if>
      <if test="travellerType != null" >
        TRAVELLER_TYPE like  #{travellerType,jdbcType=VARCHAR} AND
      </if>
      <if test="travellerLimit != null" >
        TRAVELLER_LIMIT = #{travellerLimit,jdbcType=INTEGER} AND
      </if>
      <if test="teamTicketType != null" >
        TEAM_TICKET_TYPE = #{teamTicketType,jdbcType=INTEGER} AND
      </if>
      <if test="tripType != null" >
        TRIP_TYPE = #{tripType,jdbcType=INTEGER} AND
      </if>
      <if test="goStart != null" >
        GO_START like #{goStart,jdbcType=VARCHAR} AND
      </if>
      <if test="goEnd != null" >
        GO_END like #{goEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="backEnd != null" >
        BACK_END like #{backEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER} AND
      </if>
      <if test="batchNum != null" >
        BATCH_NUM = #{batchNum,jdbcType=VARCHAR} AND
      </if>
      VALID=1 and STATUS = 1
    </trim>
  </select>
  <select id="queryObjByKey" resultMap="BaseResultMap" parameterType="com.tempus.gss.product.ift.api.entity.Policy" >
    select
    <include refid="Base_Column_List" />
    from IFT_POLICY
    where POLICY_TYPE = 5 AND
    <trim suffixOverrides="AND" >
      <if test="policyNo != null" >
        POLICY_NO=#{policyNo,jdbcType=BIGINT} AND
      </if>
      <if test="id != null" >
        ID = #{id,jdbcType=BIGINT} AND
      </if>
      <if test="owner != null" >
        OWNER = #{owner,jdbcType=INTEGER} AND
      </if>
      <if test="airline != null and airline != ''" >
        AIRLINE = #{airline,jdbcType=VARCHAR} AND
      </if>
      <if test="distributor != null and distributor != ''">
        DISTRIBUTOR = #{distributor,jdbcType=VARCHAR} AND
      </if>
      <if test="productor != null and productor != ''" >
        PRODUCTOR = #{productor,jdbcType=VARCHAR} AND
      </if>
      <if test="saleConfig != null and saleConfig != ''" >
        SALE_CONFIG = #{saleConfig,jdbcType=VARCHAR} AND
      </if>
      <if test="ticketWay != null and ticketWay != ''" >
        TICKET_WAY = #{ticketWay,jdbcType=VARCHAR} AND
      </if>
      <if test="productNo != null and productNo != ''" >
        PRODUCT_NO = #{productNo,jdbcType=VARCHAR} AND
      </if>
      <if test="travellerType != null and travellerType != ''" >
        TRAVELLER_TYPE = #{travellerType,jdbcType=VARCHAR} AND
      </if>
      <if test="travellerLimit != null" >
        TRAVELLER_LIMIT = #{travellerLimit,jdbcType=INTEGER} AND
      </if>
      <if test="teamTicketType != null" >
        TEAM_TICKET_TYPE = #{teamTicketType,jdbcType=INTEGER} AND
      </if>
      <if test="tripType != null" >
        TRIP_TYPE = #{tripType,jdbcType=INTEGER} AND
      </if>
      <if test="goStart != null and goStart != ''" >
        GO_START = #{goStart,jdbcType=VARCHAR} AND
      </if>
      <if test="exceptGoStart != null and exceptGoStart != ''" >
        EXCEPT_GO_START = #{exceptGoStart,jdbcType=VARCHAR} AND
      </if>
      <if test="goEnd != null and goEnd != ''" >
        GO_END = #{goEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="exceptGoEnd != null and exceptGoEnd != ''" >
        EXCEPT_GO_END = #{exceptGoEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="backEnd != null and backEnd != ''" >
        BACK_END = #{backEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="exceptBackEnd != null and exceptBackEnd != ''" >
        EXCEPT_BACK_END = #{exceptBackEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="allowCrossLineMatch != null" >
        ALLOW_CROSS_LINE_MATCH = #{allowCrossLineMatch,jdbcType=BIT} AND
      </if>
      <if test="travelDate != null and travelDate != ''" >
        TRAVEL_DATE = #{travelDate,jdbcType=VARCHAR} AND
      </if>
      <if test="backDate != null and backDate != ''" >
        BACK_DATE = #{backDate,jdbcType=VARCHAR} AND
      </if>
      <if test="ticketDate != null and ticketDate != ''" >
        TICKET_DATE = #{ticketDate,jdbcType=VARCHAR} AND
      </if>
      <if test="isSameCarrier != null and isSameCarrier != ''" >
        IS_SAME_CARRIER = #{isSameCarrier,jdbcType=BIT} AND
      </if>
      <if test="isCodeShare != null" >
        IS_CODE_SHARE = #{isCodeShare,jdbcType=BIT} AND
      </if>
      <if test="shareAirline != null and shareAirline != ''" >
        SHARE_AIRLINE = #{shareAirline,jdbcType=VARCHAR} AND
      </if>
      <if test="onlyDirectFlight != null" >
        ONLY_DIRECT_FLIGHT = #{onlyDirectFlight,jdbcType=BIT} AND
      </if>
      <if test="goNotFlight != null and goNotFlight != ''" >
        GO_NOT_FLIGHT = #{goNotFlight,jdbcType=VARCHAR} AND
      </if>
      <if test="goMustFlight != null and goMustFlight != ''" >
        GO_MUST_FLIGHT = #{goMustFlight,jdbcType=VARCHAR} AND
      </if>
      <if test="backNotFlight != null and backNotFlight != ''" >
        BACK_NOT_FLIGHT = #{backNotFlight,jdbcType=VARCHAR} AND
      </if>
      <if test="backMustFlight != null and backMustFlight != ''" >
        BACK_MUST_FLIGHT = #{backMustFlight,jdbcType=VARCHAR} AND
      </if>
      <if test="goFlightNo != null and goFlightNo != ''" >
        GO_FLIGHT_NO = #{goFlightNo,jdbcType=VARCHAR} AND
      </if>
      <if test="backFlightNo != null and backFlightNo != ''" >
        BACK_FLIGHT_NO = #{backFlightNo,jdbcType=VARCHAR} AND
      </if>
      <if test="exceptFlightNo != null and exceptFlightNo != ''" >
        EXCEPT_FLIGHT_NO = #{exceptFlightNo,jdbcType=VARCHAR} AND
      </if>
      <if test="agencyFee != null" >
        AGENCY_FEE = #{agencyFee,jdbcType=DECIMAL} AND
      </if>
      <if test="policyEffectStart != null and policyEffectStart != ''" >
        POLICY_EFFECT_START = #{policyEffectStart,jdbcType=VARCHAR} AND
      </if>
      <if test="policyEffectEnd != null and policyEffectEnd != ''" >
        POLICY_EFFECT_END = #{policyEffectEnd,jdbcType=VARCHAR} AND
      </if>
      <if test="remark != null and remark != ''" >
        REMARK = #{remark,jdbcType=VARCHAR} AND
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER} AND
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} AND
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} AND
      </if>
      <if test="creator != null and creator != ''" >
        CREATOR = #{creator,jdbcType=VARCHAR} AND
      </if>
      <if test="modifier != null and modifier != ''" >
        MODIFIER = #{modifier,jdbcType=VARCHAR} AND
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=BIT} AND
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER} AND
      </if>
      <if test="batchNum != null and batchNum != ''" >
        BATCH_NUM = #{batchNum,jdbcType=VARCHAR} AND
      </if>
      <if test="batchNum != null and batchNum != ''" >
        IS_REVIEW = #{isReview,jdbcType=BIT} AND
      </if>
    </trim>
    ORDER BY MODIFY_TIME DESC
  </select>
  <update id="updateValid"  parameterType="com.tempus.gss.product.ift.api.entity.Policy">
    update IFT_POLICY
    set VALID = #{valid,jdbcType=BIT},
    MODIFIER = #{modifier,jdbcType=VARCHAR},
    MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where POLICY_NO = #{policyNo,jdbcType=BIGINT}
  </update>
  <update id="updateStatus"  parameterType="com.tempus.gss.product.ift.api.entity.Policy">
    update IFT_POLICY
    set STATUS = #{status,jdbcType=INTEGER},
    MODIFIER = #{modifier,jdbcType=VARCHAR},
    MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where POLICY_NO = #{policyNo,jdbcType=BIGINT}
  </update>
  <select id="getByPolicyIds" resultMap="BaseResultMap" parameterType="com.tempus.gss.product.ift.api.entity.Policy">
    select
    <include refid="Base_Column_List" />
    from IFT_POLICY where POLICY_TYPE = 5 AND id in (${ids})
  </select>
</mapper>