<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tempus.gss.product.unp.dao.OrderDao">
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        UO.ID as id,
       UO.OWNER as owner,
       UO.ORDER_NO         AS orderNo,
       UO.REMARK AS remark,
       UO.TRADE_NO         AS tradeNo,
       UO.BATCH_NO         AS batchNo,
       UO.CHANNEL_ID       AS channelId,
       UO.CHANNEL_TYPE     AS channelType,
       UO.SALE_PRICE       AS salePrice,
       UO.PAY_STATUS       AS payStatus,
       UO.PAY_AMOUNT       AS payAmount,
       UO.PAY_TIME         AS payTime,
       UO.BUY_ORDER_NO     AS buyOrderNo,
       UO.BUY_CHANNEL_ID   AS buyChannelId,
       UO.BUY_CHANNEL_TYPE AS buyChannelType,
       UO.BUY_PRICE        AS buyPrice,
       UO.BUY_PAY_STATUS   AS buyPayStatus,
       UO.BUY_PAY_AMOUNT   AS buyPayAmount,
       UO.BUY_PAY_TIME     AS buyPayTime,
       UO.STATUS AS status,
       UO.CREATOR AS creator,
       UO.CREATE_TIME      AS createTime,
       UO.MODIFIER AS modifier,
       UO.MODIFY_TIME      AS modifyTime,
       UO.ADDITIONAL_INFO  AS additionalInfo,
       UO.UNP_TYPE         AS unpType,
       UO.OFFLINE_PAY_NO   AS offlinePayNo,
       UO.OFFLINE_PAYER    AS offlinePayer,
       UO.OFFLINE_PAYEE    AS offlinePayee,
       UO.OFFLINE_REMARK   AS offlineRemark,
       UO.VALID AS valid,
       SD.CODE          AS code,
       SD.NAME          AS name
    </sql>

    <select id="getOrderByNo" resultType="com.tempus.gss.product.unp.api.entity.UnpOrder" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from UNP_ORDER UO left join SM_DICT SD ON UNP_TYPE=SD.ID where UO.ORDER_NO = #{orderNo}
    </select>

    <select id="queryOrderList" resultType="com.tempus.gss.product.unp.api.entity.UnpOrder"
            parameterType="com.tempus.gss.product.unp.api.entity.UnpOrder">
        select
        <include refid="Base_Column_List"/>
        from UNP_ORDER UO
        left join SM_DICT SD ON UNP_TYPE=SD.ID
        <where>
            <trim suffixOverrides="AND">
                1=1 AND
                <if test="id != null">
                    UO.ID = #{id,jdbcType=BIGINT} AND
                </if>
                <if test="owner != null">
                    UO.OWNER = #{owner,jdbcType=INTEGER} AND
                </if>
                <if test="orderNo != null">
                    UO.ORDER_NO = #{orderNo,jdbcType=BIGINT} AND
                </if>
                <if test="remark != null">
                    UO.REMARK = #{remark,jdbcType=VARCHAR} AND
                </if>
                <if test="tradeNo != null">
                    UO.TRADE_NO = #{tradeNo,jdbcType=BIGINT} AND
                </if>
                <if test="batchNo != null">
                    UO.BATCH_NO = #{batchNo,jdbcType=BIGINT} AND
                </if>
                <if test="tradeNo != null">
                    UO.TRADE_NO = #{tradeNo,jdbcType=BIGINT} AND
                </if>
                <if test="channelId != null">
                    UO.CHANNEL_ID = #{channelId,jdbcType=BIGINT} AND
                </if>
                <if test="channelType != null">
                    UO.CHANNEL_TYPE = #{channelType,jdbcType=BIGINT} AND
                </if>
                <if test="valid != null">
                    UO.VALID = #{valid,jdbcType=TINYINT} AND
                </if>
                <if test="createTime != null">
                    UO.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} AND
                </if>
                <if test="modifyTime != null">
                    UO.MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} AND
                </if>
                <if test="creator != null">
                    UO.CREATOR = #{creator,jdbcType=VARCHAR} AND
                </if>
                <if test="modifier != null">
                    UO.MODIFIER = #{modifier,jdbcType=VARCHAR} AND
                </if>
                <if test="unpType != null">
                    UO.UNP_TYPE = #{unpType,jdbcType=TINYINT} AND
                </if>
            </trim>
            ORDER BY UO.CREATE_TIME DESC
        </where>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.tempus.gss.product.unp.api.entity.UnpOrder">
        update UNP_ORDER
        <set>
            <if test="owner != null">
                OWNER = #{owner,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                VALID = #{valid,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tradeNo != null">
                TRADE_NO = #{tradeNo,jdbcType=BIGINT},
            </if>
            <if test="batchNo != null">
                BATCH_NO = #{batchNo,jdbcType=BIGINT},
            </if>
            <if test="channelId != null">
                CHANNEL_ID = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="channelType != null">
                CHANNEL_TYPE = #{channelType,jdbcType=BIGINT},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="payStatus != null">
                PAY_STATUS = #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="payAmount != null">
                PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="payTime != null">
                PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="buyChannelId != null">
                buy_CHANNEL_ID = #{buyChannelId,jdbcType=BIGINT},
            </if>
            <if test="buyChannelType != null">
                buy_CHANNEL_TYPE = #{buyChannelType,jdbcType=BIGINT},
            </if>
            <if test="buyPrice != null">
                buy_price = #{buyPrice,jdbcType=DECIMAL},
            </if>
            <if test="buyPayStatus != null">
                buy_pay_status = #{buyPayStatus,jdbcType=TINYINT},
            </if>
            <if test="buyPayAmount != null">
                buy_PAY_AMOUNT = #{buyPayAmount,jdbcType=DECIMAL},
            </if>
            <if test="buyPayTime != null">
                buy_PAY_TIME = #{buyPayTime,jdbcType=DATETIME},
            </if>

            <if test="offlinePayNo != null">
                offline_pay_no = #{offlinePayNo,jdbcType=BIGINT},
            </if>
            <if test="offlinePayer != null">
                offline_payer = #{offlinePayer,jdbcType=VARCHAR},
            </if>
            <if test="offlinePayee != null">
                offline_payee = #{offlinePayee,jdbcType=VARCHAR},
            </if>
            <if test="offlinePayRemark != null">
                offline_remark = #{offlinePayRemark,jdbcType=VARCHAR},
            </if>
            <if test="unpType != null">
                UNP_TYPE = #{unpType,jdbcType=TINYINT}
            </if>
        </set>
        where ORDER_NO = #{orderNo,jdbcType=BIGINT}
    </update>


</mapper>