<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tempus.gss.product.unp.dao.OrderDao">
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        ID,
        OWNER,
        order_no AS orderNo,
        remark,
        TRADE_NO AS tradeNo,
        BATCH_NO AS batchNo,
        CHANNEL_ID AS channelId,
        CHANNEL_TYPE AS channelType,
        sale_price AS salePrice,
        PAY_STATUS AS payStatus,
        PAY_AMOUNT AS payAmount,
        PAY_TIME AS payTime,
        buy_ORDER_NO AS buyOrderNo,
        buy_CHANNEL_ID AS buyChannelId,
        buy_CHANNEL_TYPE AS buyChannelType,
        buy_price AS buyPrice,
        buy_pay_status AS buyPayStatus,
        buy_PAY_AMOUNT AS buyPayAmount,
        buy_PAY_TIME AS buyPayTime,
        status,
        CREATOR,
        CREATE_TIME AS createTime,
        MODIFIER,
        MODIFY_TIME AS modifyTime,
        offline_pay_no AS offlinePayNo,
        offline_payer AS offlinePayer,
        offline_payee AS offlinePayee,
        offline_remark AS offlinePayRemark,
        VALID
    </sql>

    <select id="getOrderByNo" resultType="com.tempus.gss.product.unp.api.entity.UnpOrder" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from UNP_ORDER where order_no = #{orderNo}
    </select>

    <select id="queryOrderList" resultType="com.tempus.gss.product.unp.api.entity.UnpOrder"
            parameterType="com.tempus.gss.product.unp.api.entity.UnpOrder">
        select
        <include refid="Base_Column_List"/>
        from UNP_ORDER
        <where>
            <trim suffixOverrides="AND">
                <if test="id != null">
                    ID = #{id,jdbcType=BIGINT} AND
                </if>
                <if test="owner != null">
                    OWNER = #{owner,jdbcType=INTEGER} AND
                </if>
                <if test="orderNo != null">
                    order_no = #{orderNo,jdbcType=BIGINT} AND
                </if>
                <if test="remark != null">
                    remark = #{remark,jdbcType=VARCHAR} AND
                </if>
                <if test="tradeNo != null">
                    TRADE_NO = #{tradeNo,jdbcType=BIGINT} AND
                </if>
                <if test="batchNo != null">
                    BATCH_NO = #{batchNo,jdbcType=BIGINT} AND
                </if>
                <if test="tradeNo != null">
                    TRADE_NO = #{tradeNo,jdbcType=BIGINT} AND
                </if>
                <if test="channelId != null">
                    CHANNEL_ID = #{channelId,jdbcType=BIGINT} AND
                </if>
                <if test="channelType != null">
                    CHANNEL_TYPE = #{channelType,jdbcType=BIGINT} AND
                </if>
                <if test="valid != null">
                    VALID = #{valid,jdbcType=TINYINT} AND
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} AND
                </if>
                <if test="modifyTime != null">
                    MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} AND
                </if>
                <if test="creator != null">
                    CREATOR = #{creator,jdbcType=VARCHAR} AND
                </if>
                <if test="modifier != null">
                    MODIFIER = #{modifier,jdbcType=VARCHAR} AND
                </if>
            </trim>
            ORDER BY CREATE_TIME DESC
        </where>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.tempus.gss.product.unp.api.entity.UnpOrder">
        update UNP_ORDER
        <set>
            <if test="owner != null">
                OWNER = #{owner,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                VALID = #{valid,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tradeNo != null">
                TRADE_NO = #{tradeNo,jdbcType=BIGINT},
            </if>
            <if test="batchNo != null">
                BATCH_NO = #{batchNo,jdbcType=BIGINT},
            </if>
            <if test="channelId != null">
                CHANNEL_ID = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="channelType != null">
                CHANNEL_TYPE = #{channelType,jdbcType=BIGINT},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="payStatus != null">
                PAY_STATUS = #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="payAmount != null">
                PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="payTime != null">
                PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="buyChannelId != null">
                buy_CHANNEL_ID = #{buyChannelId,jdbcType=BIGINT},
            </if>
            <if test="buyChannelType != null">
                buy_CHANNEL_TYPE = #{buyChannelType,jdbcType=BIGINT},
            </if>
            <if test="buyPrice != null">
                buy_price = #{buyPrice,jdbcType=DECIMAL},
            </if>
            <if test="buyPayStatus != null">
                buy_pay_status = #{buyPayStatus,jdbcType=TINYINT},
            </if>
            <if test="buyPayAmount != null">
                buy_PAY_AMOUNT = #{buyPayAmount,jdbcType=DECIMAL},
            </if>
            <if test="buyPayTime != null">
                buy_PAY_TIME = #{buyPayTime,jdbcType=DATETIME},
            </if>

            <if test="offlinePayNo != null">
                offline_pay_no = #{offlinePayNo,jdbcType=BIGINT},
            </if>
            <if test="offlinePayer != null">
                offline_payer = #{offlinePayer,jdbcType=VARCHAR},
            </if>
            <if test="offlinePayee != null">
                offline_payee = #{offlinePayee,jdbcType=VARCHAR},
            </if>
            <if test="offlinePayRemark != null">
                offline_remark = #{offlinePayRemark,jdbcType=VARCHAR},
            </if>

        </set>
        where ORDER_NO = #{orderNo,jdbcType=BIGINT}
    </update>


</mapper>