<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempus.gss.product.unp.dao.UnpSaleRefundMapper">
    <resultMap id="BaseResultMap" type="com.tempus.gss.product.unp.api.entity.UnpSaleRefund">
        <id column="SALE_REFUND_ORDER_NO" jdbcType="BIGINT" property="saleRefundOrderNo"/>
        <result column="SALE_ORDER_NO" jdbcType="BIGINT" property="saleOrderNo"/>
        <result column="OWNER" jdbcType="INTEGER" property="owner"/>
        <result column="CUSTOMER_NO" jdbcType="BIGINT" property="customerNo"/>
        <result column="CUSTOMER_TYPE" jdbcType="BIGINT" property="customerType"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="TRA_NO" jdbcType="BIGINT" property="traNo"/>
        <result column="CHANGE_TYPE" jdbcType="INTEGER" property="changeType"/>
        <result column="REFUND_AMOUNT" jdbcType="DECIMAL" property="refundAmount"/>
        <result column="PAY_STATUS" jdbcType="INTEGER" property="payStatus"/>
        <result column="ACTUAL_AMOUNT" jdbcType="DECIMAL" property="actualAmount"/>
        <result column="PAY_TIME" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="VALID" jdbcType="INTEGER" property="valid"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="SUPPLIER_NAME" jdbcType="VARCHAR" property="supplierName"/>
    </resultMap>
    <sql id="Base_Column_List">
        SALE_REFUND_ORDER_NO, SALE_ORDER_NO, OWNER, CUSTOMER_NO, CUSTOMER_TYPE, REMARK, TRA_NO,
        CHANGE_TYPE, REFUND_AMOUNT, PAY_STATUS, ACTUAL_AMOUNT, PAY_TIME, STATUS, CREATOR,
        CREATE_TIME, MODIFIER, MODIFY_TIME, VALID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from UNP_SALE_REFUND
        where SALE_REFUND_ORDER_NO = #{saleRefundOrderNo,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from UNP_SALE_REFUND
        where SALE_REFUND_ORDER_NO = #{saleRefundOrderNo,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.tempus.gss.product.unp.api.entity.UnpSaleRefund">
        insert into UNP_SALE_REFUND (SALE_REFUND_ORDER_NO, SALE_ORDER_NO, OWNER,
        CUSTOMER_NO, CUSTOMER_TYPE, REMARK,
        TRA_NO, CHANGE_TYPE, REFUND_AMOUNT,
        PAY_STATUS, ACTUAL_AMOUNT, PAY_TIME,
        STATUS, CREATOR, CREATE_TIME,
        MODIFIER, MODIFY_TIME, VALID
        )
        values (#{saleRefundOrderNo,jdbcType=BIGINT}, #{saleOrderNo,jdbcType=BIGINT}, #{owner,jdbcType=INTEGER},
        #{customerNo,jdbcType=BIGINT}, #{customerType,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
        #{traNo,jdbcType=BIGINT}, #{changeType,jdbcType=INTEGER}, #{refundAmount,jdbcType=DECIMAL},
        #{payStatus,jdbcType=INTEGER}, #{actualAmount,jdbcType=DECIMAL}, #{payTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.tempus.gss.product.unp.api.entity.UnpSaleRefund">
        insert into UNP_SALE_REFUND
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="saleRefundOrderNo != null">
                SALE_REFUND_ORDER_NO,
            </if>
            <if test="saleOrderNo != null">
                SALE_ORDER_NO,
            </if>
            <if test="owner != null">
                OWNER,
            </if>
            <if test="customerNo != null">
                CUSTOMER_NO,
            </if>
            <if test="customerType != null">
                CUSTOMER_TYPE,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="traNo != null">
                TRA_NO,
            </if>
            <if test="changeType != null">
                CHANGE_TYPE,
            </if>
            <if test="refundAmount != null">
                REFUND_AMOUNT,
            </if>
            <if test="payStatus != null">
                PAY_STATUS,
            </if>
            <if test="actualAmount != null">
                ACTUAL_AMOUNT,
            </if>
            <if test="payTime != null">
                PAY_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="modifier != null">
                MODIFIER,
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME,
            </if>
            <if test="valid != null">
                VALID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="saleRefundOrderNo != null">
                #{saleRefundOrderNo,jdbcType=BIGINT},
            </if>
            <if test="saleOrderNo != null">
                #{saleOrderNo,jdbcType=BIGINT},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=INTEGER},
            </if>
            <if test="customerNo != null">
                #{customerNo,jdbcType=BIGINT},
            </if>
            <if test="customerType != null">
                #{customerType,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="traNo != null">
                #{traNo,jdbcType=BIGINT},
            </if>
            <if test="changeType != null">
                #{changeType,jdbcType=INTEGER},
            </if>
            <if test="refundAmount != null">
                #{refundAmount,jdbcType=DECIMAL},
            </if>
            <if test="payStatus != null">
                #{payStatus,jdbcType=INTEGER},
            </if>
            <if test="actualAmount != null">
                #{actualAmount,jdbcType=DECIMAL},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tempus.gss.product.unp.api.entity.UnpSaleRefund">
        update UNP_SALE_REFUND
        <set>
            <if test="saleOrderNo != null">
                SALE_ORDER_NO = #{saleOrderNo,jdbcType=BIGINT},
            </if>
            <if test="owner != null">
                OWNER = #{owner,jdbcType=INTEGER},
            </if>
            <if test="customerNo != null">
                CUSTOMER_NO = #{customerNo,jdbcType=BIGINT},
            </if>
            <if test="customerType != null">
                CUSTOMER_TYPE = #{customerType,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="traNo != null">
                TRA_NO = #{traNo,jdbcType=BIGINT},
            </if>
            <if test="changeType != null">
                CHANGE_TYPE = #{changeType,jdbcType=INTEGER},
            </if>
            <if test="refundAmount != null">
                REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
            </if>
            <if test="payStatus != null">
                PAY_STATUS = #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="actualAmount != null">
                ACTUAL_AMOUNT = #{actualAmount,jdbcType=DECIMAL},
            </if>
            <if test="payTime != null">
                PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="valid != null">
                VALID = #{valid,jdbcType=INTEGER},
            </if>
        </set>
        where SALE_REFUND_ORDER_NO = #{saleRefundOrderNo,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tempus.gss.product.unp.api.entity.UnpSaleRefund">
        UPDATE UNP_SALE_REFUND
        SET SALE_ORDER_NO = #{saleOrderNo,jdbcType=BIGINT},
            OWNER         = #{owner,jdbcType=INTEGER},
            CUSTOMER_NO   = #{customerNo,jdbcType=BIGINT},
            CUSTOMER_TYPE = #{customerType,jdbcType=BIGINT},
            REMARK        = #{remark,jdbcType=VARCHAR},
            TRA_NO        = #{traNo,jdbcType=BIGINT},
            CHANGE_TYPE   = #{changeType,jdbcType=INTEGER},
            REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
            PAY_STATUS    = #{payStatus,jdbcType=INTEGER},
            ACTUAL_AMOUNT = #{actualAmount,jdbcType=DECIMAL},
            PAY_TIME      = #{payTime,jdbcType=TIMESTAMP},
            STATUS        = #{status,jdbcType=INTEGER},
            CREATOR       = #{creator,jdbcType=VARCHAR},
            CREATE_TIME   = #{createTime,jdbcType=TIMESTAMP},
            MODIFIER      = #{modifier,jdbcType=VARCHAR},
            MODIFY_TIME   = #{modifyTime,jdbcType=TIMESTAMP},
            VALID         = #{valid,jdbcType=INTEGER}
        WHERE SALE_REFUND_ORDER_NO = #{saleRefundOrderNo,jdbcType=BIGINT}
    </update>
    <select id="queryList" parameterType="com.tempus.gss.product.unp.api.entity.vo.UnpOrderQueryVo" resultMap="BaseResultMap">
        SELECT USR.*, UB.BUY_ORDER_NO, CC.NAME, CS.NAME AS SUPPLIER_NAME
        FROM UNP_SALE_REFUND USR
        LEFT JOIN UNP_BUY UB ON UB.SALE_ORDER_NO = USR.SALE_ORDER_NO
        LEFT JOIN CPS_CUSTOMER CC ON USR.CUSTOMER_NO = CC.CUSTOMER_NO
        LEFT JOIN CPS_SUPPLIER CS ON CS.SUPPLIER_NO = UB.SUPPLIER_ID
        WHERE 1=1
        <if test="saleChangeNo != null">
            AND USR.SALE_REFUND_ORDER_NO = #{saleChangeNo,jdbcType=BIGINT}
        </if>
        <if test="saleOrderNo != null">
            AND USR.SALE_ORDER_NO = #{saleOrderNo ,jdbcType=BIGINT}
        </if>
        <if test="owner != null">
            AND USR.OWNER = #{owner ,jdbcType=INTEGER}
        </if>
        <if test="customerNo != null">
            AND USR.CUSTOMER_NO = #{customerNo, jdbcType=BIGINT}
        </if>
        <if test="customerType != null">
            AND USR.CUSTOMER_TYPE = #{customerType, jdbcType=BIGINT}
        </if>
        <if test="traNo != null">
            AND USR.TRA_NO = #{traNo,jdbcType=BIGINT}
        </if>
        <if test="changeType != null">
            AND USR.CHANGE_TYPE = #{changeType ,jdbcType=INTEGER}
        </if>
        <if test="payStatus != null">
            AND USR.PAY_STATUS = #{payStatus ,jdbcType=TINYINT}
        </if>
        <if test="payTimeStart!=null and ''!=payTimeStart">
            AND USR.PAY_TIME <![CDATA[>=]]> CONCAT(#{payTimeStart,jdbcType=TIMESTAMP},' 00:00:00')
        </if>
        <if test="payTimeEnd!=null and ''!=payTimeEnd">
            AND USR.PAY_TIME  <![CDATA[<=]]> CONCAT(#{payTimeEnd,jdbcType=TIMESTAMP},' 23:59:59')
        </if>
        <if test="status != null">
            AND USR.STATUS = #{status,jdbcType=INTEGER}
        </if>
        <if test="creator != null and creator!=''">
            AND USR.CREATOR LIKE concat('%',CONCAT(#{creator,jdbcType=VARCHAR},'%'))
        </if>
        <if test="createTimeStart!=null and ''!=createTimeStart">
            AND USR.CREATE_TIME <![CDATA[>=]]> CONCAT(#{createTimeStart,jdbcType=TIMESTAMP},' 00:00:00')
        </if>
        <if test="createTimeEnd!=null and ''!=createTimeEnd">
            AND USR.CREATE_TIME  <![CDATA[<=]]> CONCAT(#{createTimeEnd,jdbcType=TIMESTAMP},' 23:59:59')
        </if>
        <if test="modifier != null  and modifier!=''">
            AND USR.MODIFIER LIKE concat('%',CONCAT(#{modifier,jdbcType=VARCHAR},'%'))
        </if>
        <if test="modifyTimeStart != null and ''!=modifyTimeStart">
            AND USR.MODIFY_TIME <![CDATA[>=]]> CONCAT(#{modifyTimeStart,jdbcType=TIMESTAMP},' 00:00:00')
        </if>
        <if test="modifyTimeEnd != null and ''!=modifyTimeEnd">
            AND USR.MODIFY_TIME <![CDATA[<=]]> CONCAT(#{modifyTimeEnd,jdbcType=TIMESTAMP},' 23:59:59')
        </if>
        <if test="valid != null">
            AND USR.VALID = #{valid,jdbcType=INTEGER}
        </if>
        ORDER BY USR.CREATE_TIME DESC
    </select>
</mapper>