<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempus.gss.product.unp.dao.UnpSaleRefundItemMapper">
    <resultMap id="BaseResultMap" type="com.tempus.gss.product.unp.api.entity.UnpSaleRefundItem">
        <id column="ITEM_ID" jdbcType="BIGINT" property="itemId"/>
        <result column="SALE_REFUND_ORDER_NO" jdbcType="BIGINT" property="saleRefundOrderNo"/>
        <result column="SALE_ITEM_NO" jdbcType="BIGINT" property="saleItemNo"/>
        <result column="UNP_TYPE" jdbcType="INTEGER" property="unpType"/>
        <result column="NUM" jdbcType="INTEGER" property="num"/>
        <result column="CHANGE_TYPE" jdbcType="INTEGER" property="changeType"/>
        <result column="GROUP_AMOUNT" jdbcType="DECIMAL" property="groupAmount"/>
        <result column="ITEM_STATUS" jdbcType="INTEGER" property="itemStatus"/>
        <result column="VALID" jdbcType="INTEGER" property="valid"/>
    </resultMap>
    <sql id="Base_Column_List">
        ITEM_ID, SALE_REFUND_ORDER_NO, SALE_ITEM_NO,UNP_TYPE, NUM, CHANGE_TYPE, GROUP_AMOUNT, ITEM_STATUS,
        VALID
    </sql>
    <select id="selectItems" parameterType="com.tempus.gss.product.unp.api.entity.vo.UnpOrderQueryVo" resultMap="BaseResultMap">
        SELECT USRI.*
        FROM UNP_SALE_REFUND_ITEM USRI
        LEFT JOIN UNP_SALE_REFUND USR ON USRI.SALE_REFUND_ORDER_NO = USR.SALE_REFUND_ORDER_NO
        LEFT JOIN UNP_BUY_REFUND UBR ON UBR.SALE_REFUND_ORDER_NO = USR.SALE_REFUND_ORDER_NO
        where 1=1
        <if test="itemNo != null">
            AND USRI.ITEM_ID = #{itemNo,jdbcType=BIGINT}
        </if>
        <if test="saleChangeNo != null">
            AND USRI.SALE_REFUND_ORDER_NO = #{saleChangeNo,jdbcType=BIGINT}
        </if>
        <if test="buyChangeNo != null">
            AND USRI.BUY_REFUND_ORDER_NO = #{buyChangeNo,jdbcType=BIGINT}
        </if>

        <if test="changeType != null">
            AND USRI.CHANGE_TYPE = #{changeType,jdbcType=INTEGER}
        </if>
        <if test="valid != null">
            AND USRI.VALID = #{valid,jdbcType=BIT}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from UNP_SALE_REFUND_ITEM
        where ITEM_ID = #{itemId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from UNP_SALE_REFUND_ITEM
        where ITEM_ID = #{itemId,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.tempus.gss.product.unp.api.entity.UnpSaleRefundItem">
        insert into UNP_SALE_REFUND_ITEM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                ITEM_ID,
            </if>
            <if test="saleRefundOrderNo != null">
                SALE_REFUND_ORDER_NO,
            </if>
            <if test="unpType != null">
                UNP_TYPE,
            </if>
            <if test="num != null">
                PNUM,
            </if>
            <if test="changeType != null">
                CHANGE_TYPE,
            </if>
            <if test="groupAmount != null">
                GROUP_AMOUNT,
            </if>
            <if test="itemStatus != null">
                ITEM_STATUS,
            </if>
            <if test="valid != null">
                VALID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                #{itemId,jdbcType=BIGINT},
            </if>
            <if test="saleRefundOrderNo != null">
                #{saleRefundOrderNo,jdbcType=BIGINT},
            </if>
            <if test="unpType != null">
                #{unpType,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="changeType != null">
                #{changeType,jdbcType=INTEGER},
            </if>
            <if test="groupAmount != null">
                #{groupAmount,jdbcType=DECIMAL},
            </if>
            <if test="itemStatus != null">
                #{itemStatus,jdbcType=INTEGER},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tempus.gss.product.unp.api.entity.UnpSaleRefundItem">
        update UNP_SALE_REFUND_ITEM
        <set>
            <if test="saleRefundOrderNo != null">
                SALE_REFUND_ORDER_NO = #{saleRefundOrderNo,jdbcType=BIGINT},
            </if>
            <if test="unpType != null">
                UNP_TYPE = #{unpType,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                NUM = #{num,jdbcType=INTEGER},
            </if>
            <if test="changeType != null">
                CHANGE_TYPE = #{changeType,jdbcType=INTEGER},
            </if>
            <if test="groupAmount != null">
                GROUP_AMOUNT = #{groupAmount,jdbcType=DECIMAL},
            </if>
            <if test="itemStatus != null">
                ITEM_STATUS = #{itemStatus,jdbcType=INTEGER},
            </if>
            <if test="valid != null">
                VALID = #{valid,jdbcType=BIT},
            </if>
        </set>
        where ITEM_ID = #{itemId,jdbcType=BIGINT}
    </update>
</mapper>